div.draft_form {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
div.draft_form div.panel {
  position: absolute;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #005b9f;
  border-radius: 5px;
  padding: 20px;
}
div.draft_form div.panel button.btn_close {
  outline: none;
}
div.draft_form div.panel h2.title {
  margin-top: 0px;
}
div.draft_form div.panel div.car_desc {
  width: calc(100% - 50px);
  margin: 12px 25px;
}
div.draft_form div.panel div.car_desc div.title {
  width: 100%;
  text-align: center;
}
div.draft_form div.panel div.car_desc div.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.draft_form div.panel div.car_desc div.line div.line-label {
  width: calc(50% - 30px);
  text-align: right;
  margin-right: 30px;
}
div.draft_form div.panel div.car_desc div.line div.line-value {
  width: calc(50% - 30px);
  text-align: left;
  margin-left: 30px;
}
div.draft_form div.panel div.date-select {
  width: calc(100% - 50px);
  margin: 12px 25px;
}
div.draft_form div.panel div.date-select div.title {
  width: 100%;
  text-align: center;
}
div.draft_form div.panel div.date-select div.date-selector {
  margin: 10px 0px;
  text-align: center;
  width: 100%;
}
div.draft_form div.panel div.date-select div.date-selector input {
  font-size: 20px;
}
div.draft_form div.panel div.date-select div.cost-counter {
  width: 100%;
  height: 30px;
  text-align: center;
}
div.draft_form div.panel div.date-select div.cost-counter span {
  color: #353535;
}
div.draft_form div.panel div.date-select div.err {
  width: 100%;
  height: 20px;
  text-align: center;
}
div.draft_form div.panel div.date-select div.err span.dateErr {
  color: #e24304;
  font-size: 18px;
  font-weight: 700;
}
div.draft_form div.panel div.button_field {
  width: 100%;
  text-align: center;
}
div.draft_form div.panel div.button_field button.btn {
  background: #0288d1;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
div.draft_form div.panel span {
  font-size: 15px;
}
div.draft_form div.panel span.head_label {
  font-size: 18px;
  font-weight: 700;
}
div.draft_form div.panel div.confirm_field {
  margin-top: 20px;
}
div.draft_form div.panel div.confirm_field button.btn {
  background: #07a807;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
