head
	link(rel='stylesheet', href="/css/style.css")
body
	div.header
		img.logo(src='/img/logo.png')
		span.title QuickRentCar
	div.sub-header
		span.sub-title Регистрация
	form#authForm(method="POST", action="/auth/registration")
		input.hidden(name="app_id", value=app_id, readonly)
		div.field
			span Логин
			input(name="login", required)
		div.field
			span Пароль
			input(name="password", type="password", required)
		div.field
			span Повторите пароль
			input(name="rpassword", type="password", required)
		div.field.field-submit
			input.on-center(type="submit")