div#error-template.col-lg-12.error-container.absolute-position.hidden
    div.row
        div.error_content
            div.col-sm-12.error-header
                h2 Извините произошла ошибка =(
            div.col-sm-12.error_desc
                div.row 
                    div.col-md-2
                        span.status_code 
                    div.col-sm-12
                        span.error_msg