block footer

div.container.footer
    div.row
        div.programers
            div.authors
                span.author Федоров П.В.
            div.authors
                span.author Силантьев М.М.
    div.row
        div.copyright
            i.fa.fa-copyright 
            span QuickRentCar
