doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/aggregator/css/style.css')
      link(rel='stylesheet', href='/aggregator/css/nav.css')
      link(rel='stylesheet', href='/aggregator/css/list.css')
      link(rel='stylesheet', href='/aggregator/css/footer.css')
      link(rel='stylesheet', href='/aggregator/css/car.css')
      link(rel='stylesheet', href='/aggregator/css/order.css')
      link(rel='stylesheet', href='/aggregator/css/error.css')
      link(rel='stylesheet', href='/aggregator/css/paid.css')
      link(rel='stylesheet', href='/aggregator/css/draft_confirm_form.css')
      link(rel='stylesheet', href='/aggregator/css/iframe.css')
      link(rel='stylesheet', href='/aggregator/css/report.css')
      link(rel='stylesheet', href='/aggregator/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/aggregator/components/bootstrap/dist/css/bootstrap-theme.css')
      link(rel='stylesheet', href='/aggregator/components/air-datepicker/dist/css/datepicker.min.css')
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    block js
      //- if ENV_DEVELOPMENT
      //-   script(src='http://localhost:35729/livereload.js')
      script(src='/aggregator/components/jquery/dist/jquery.js')
      script(src='/aggregator/components/bootstrap/dist/js/bootstrap.js')
      script(src='/aggregator/components/air-datepicker/dist/js/datepicker.min.js')
      script(src="/aggregator/components/jquery-mask-plugin/dist/jquery.mask.min.js")
      script(src='/aggregator/js/menu.js')
      script(src='/aggregator/js/car.js')
      script(src='/aggregator/js/order.js')
      script(src='/aggregator/js/admin.js')
  body
