div.navbar-wrapper
    div.container
        div.row.line
            div.col-xs-4.logo
                img(src='/aggregator/img/logo.png', alt='logo')
                p.text-center.nav-title QuickRentCar
            div.col-xs-6
                ul#nav-pills.nav.nav-pills
                    li#automobile-pill.active 
                        span Автомобили
                    li#orders-pill.disable 
                        span Заказы
                    li#report-pill.hidden
                        span Отчеты
                    li#carmanager-pill.hidden
                        span Авто менеджмент
            div.col-xs-2
                div#non-auth-field
                    div.login
                        button#auth_submit.button.auth-button Войти
                        button#auth_Mail.button.mail-button Mail
                    button#reg_submit.button.reg-button Регистрация