div#draft_template
    .draft_form#draft_panel
        .panel.container-fluid
            .row
                .col-sm-2.col-sm-offset-10.text-right
                    button.btn.btn_close.glyphicon.glyphicon-remove
                .col-sm-12.header.text-center
                    h2.title Оформление заказа
                .col-sm-12.car_desc
                    div.title
                        h3.pretitle Автомобиль
                    div.line
                        div.line-label
                            span.head_label Производитель
                        div.line-value
                            span.manufacture
                    div.line
                        div.line-label
                            span.head_label Модель
                        div.line-value
                            span.model
                    div.line
                        div.line-label
                            span.head_label Тип
                        div.line-value
                            span.type
                    div.line
                        div.line-label
                            span.head_label Стоимость 
                        div.line-value
                            span.cost
                .col-sm-12.date-select
                    form#draft_order
                        div.title
                            span.head_label Выберите дни аренды автомобиля
                        div.date-selector
                            input#datepicker.calendar(name='rentDate', required data-position="top right")
                        div#cost-counter.cost-counter
                            span.sum-cost
                        div.err
                            span.dateErr
                .col-sm-12.button_field
                    button.btn.btn_submit Далее
                .col-sm-12.order_desc.hidden
                    .row
                        .col-sm-12.data
                            .row
                                .col-sm-1.col-sm-offset-1.text-right
                                    span.head_label C
                                .col-sm-2.text-left
                                    span.start_date
                                .col-sm-1.col-sm-offset-1.text-right
                                    span.head_label По
                                .col-sm-2.text-left
                                    span.end_date
                        .col-sm-12.button_confirm_field
                            .row
                                .col-sm-2.col-sm-offset-5
                                    button.btn.btn_confirm Подтвердить
